<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/" method="POST">
                <div class="mb-3">
                    <input class="form-control" type="text" id="title" name="title">
                </div>
                <div class="mb-3 col-2 offset-5"><button class="btn btn-success">Click</button></div>

            </form>
        </div>
    </div>